<%# div to hold all cards %>
<div class="d-flex flex-row flex-wrap justify-content-between" style="width: 50rem;" >
  <%# loop for cards with article and indexes %>
  <% for article, index in @articles.reverse.each.with_index %>
    <% unless article.archived? %>
        <%= link_to article, class:"text-decoration-none" do %>
          <%= render partial: 'article-card', locals: { article: article } %>
        <% end %>
    <% end %>
  <% end %>
</div>
